{{#each this}}
<li class="filmlist__item">

 
  <img id="{{id}}" class="filmlist__img" width='100%' src="https://image.tmdb.org/t/p/w500{{poster_path}}"
    alt="{{title}}" onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';">
  <span class="filmlist__rate">{{vote_average}}</span>
  <h2 class="filmlist__title">{{title}}</h2>
  <svg class="filmlist__icon" width="12" height="12">
    <use href="./images/star-empty.svg"></use>
  </svg>
  <p class="filmlist__cardtext">
    <span class="filmlist__date">{{release_date}}</span>
  </p>
  
</li>
{{/each}}